@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.col {
  margin-top: 35px;
  text-align: center;
}

a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  font-family: "Handlee", cursive;
}

img {
  display: block;
  margin: 0 auto;
}
