.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.col {
  margin-top: 55px;
  text-align: center;
}

a {
  display: block;
  margin: 0 auto;
  color: grey;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}
