@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.sidenav-container {
  height: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidenav {
  width: 130px;
  background-image: url("/assets/background.jpg");
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: url("/assets/background.jpg");
  padding: 20px;
  color: #000;
  font-size: 24px;
  font-family: "Satisfy", cursive;
}

span {
  margin: 0 auto;
  color: #000;
  font-family: "Satisfy", cursive;
  font-size: 38px;
}

#home,
#certificates,
#apps {
  background-image: url("/assets/background.jpg");
  color: #000;
  font-family: "Satisfy", cursive;
  font-size: 22px;
}

i {
  margin-right: 8px;
}
