<h1 class="animate__animated animate__backInLeft">Agata's portfolio</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="home" aria-current="page" routerLink="./home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="apps" aria-current="page" routerLink="./my-app">My apps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="certificates" routerLink="./certificate">Certificates</a>
  </li>
</ul>

<router-outlet></router-outlet>

<footer>
  <small>
    Coded by Agata Piekarczyk - <i class="fab fa-github"></i><a href="https://github.com/Agata349/angular-my-portfolio" target="_blank"> Open Source </a> &
    <a href="https://bit.ly/3fhzLTx" target="_blank"> Hosting </a>
  </small>
</footer>