@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

footer {
  clear: both;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 8px 15px;
  text-align: center;
  font-family: "Satisfy", cursive;
  background-image: url("/assets/background.jpg");
  color: #000;
}
