@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

.container {
  text-align: center;
}

img {
  margin-top: 20px;
  margin-bottom: 15px;
}

p {
  color: #000;
  font-family: "Handlee", cursive;
}

a {
  color: #275171;
  font-family: "Handlee", cursive;
}
