@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

body {
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  margin-top: 1px;
  text-align: center;
}

h2 {
  padding: 30px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: #fff;
}

button {
  display: block;
  margin: 70px auto;
  padding: 15px 20px;
  background-color: rgb(15, 15, 15);
  opacity: 0.8;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(107, 104, 104, 0.15);
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
  border: none;
}

a {
  text-decoration: none;
  font-size: 36px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: #fff;
}
