@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background-image: url("/assets/background-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  margin: 40px 5px 110px;
  line-height: 1.5;
  font-family: "Satisfy", cursive;
  font-size: 45px;
  font-weight: bold;
  color: #000;
}

p,
a,
.contact-me {
  margin: 3px;
  font-size: 22px;
  color: rgb(68, 63, 63);
  text-decoration: none;
}

.contact-me {
  font-weight: bold;
  font-family: "Handlee", cursive;
}
